<h1> Add a food item page. </h1>

<form action="/add_food_item" method="post">
	<div><label for="name">Name:</label>
	  <input type="text"
	         name="name"
	         id="name"
	         size="20" /></div>
	<div><label for="plate_position">Plate Position:</label>
	  <input type="text"
	         name="plate_position"
	         id="plate_position"
	         size="20" /></div>
	<div><label for="score">Score:</label>
	  <input type="text"
	         name="score"
	         id="score"
	         size="20" /></div>
	<div><input type="sumbit" value="FoodItem"></div>
</form>