<p>
  You are have made it to the final menu page. <br>
  
  <% menus.each do |m| %>
    Monday Main - <%= m.monday_main %> <br>
    Score - <%= Losenoid::FoodItem.where({name: m.monday_main}).first.score %>
  <% end %>

<table border="1">
  <th colspan="100%"> Your Menu </th>
  <% menus.each do |m| %>
  	<% days.each do |day| %>
      <tr>
	    <td>
	      <%= day %> Main - <%= m.send("#{day.downcase}_main") %>
	    </td>	
	  </tr>
    <% end %>
  <% end %>
</table>

</p>

</p>