<p>
  My database has the following entry.
 </p>

<p>
  Food Item: <%= food_item.name %> <br>
  Position:  <%= food_item.plate_position %> <br>
  Score:     <%= food_item.score %> <br>
</p>

<p>
  <a href="/list"> Link to all the food items. </a>
</p>

<p>
  <a href="/add_food_item"> Add a food item. </a>
</p>

<p>
  <a href="/menu"> Build a weekly menu. </a>
</p>